body {
    margin: 0;
    display: block;
}

.nav-top {
    overflow: hidden;
    background-color: #333;
}
  
.nav-top a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 12px;
}
  
.nav-top a:hover {
    background-color: #ddd;
    color: black;
}

.left-nav {
    float: left;
    padding: 8px;
    background: darkgray;
    width: 20%;
    height: 100vh;
}

.textbox {
    float: right;
    background: gray;
    width: 80%;
    height: 100vh;
}